%article.main_content
  %h1 Editing entry
  
  = render 'form'

%footer.footer_content  
  %ul.sub_nav
    %li.sub_nav_item
      = link_to 'Show', @entry
      \|
    %li.sub_nav_item
      = link_to 'Back', entries_path
