%article.main_content
  %h1 Editing round
  
  = render 'form'

%footer.footer_content  
  %ul.sub_nav
    %li.sub_nav_item
      = link_to 'Show', @round
      \|
    %li.sub_nav_item
      = link_to 'Back', rounds_path
