/* ********
* RESET CSS
* from
******** */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body { line-height:1; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block;}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* ********
* END RESET CSS
******** */

/* ********
* @font-face for offline use
* uncomment to use
* fonts must be installed on system
******** *
@font-face {
     font-family: 'CabinSketch';
     src: url('CabinSketch-Bold.woff') format('woff'),
           url('CabinSketch-Bold.ttf') format('truetype');
        }
@font-face {
     font-family: 'Ubuntu';
     src: url('Ubuntu-Regular.woff') format('woff'),
           url('Ubuntu-Regular.ttf') format('truetype');
        }
/* ********
* END @font-face
******** */

/* ********
* PRESET CSS
******** */
body { font:13px/1.462 Ubuntu, sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
body, select, input, textarea { color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
a:link { -webkit-tap-highlight-color: #FF5E99; } /*  j.mp/webkit-tap-highlight-color */
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; }
::-moz-selection{ background: orange; color:#fff; text-shadow: none; }
::selection { background: orange; color:#fff; text-shadow: none; }
/* ** helper */
/* from j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* ********
* END PRESET CSS
******** */

body {
  margin: 0 1em 1em 3em;
}
h1 {
  font: 4em/1em 'Cabin Sketch', sans-serif;
  margin-bottom: .5em;
}

#main {
  margin: 0 2em 2em 0;
  max-width: 70em;
}
#main,
#twitter {
  display: inline-block;
  vertical-align: top;
}

.main_nav {
  margin: 0 0 1.5em 0;
  font-size: 1.231em; /* = 16px */
}

.main_nav_list_item {
  display: inline;
}
.main_nav_list_item a {
  color: white;
  display: inline-block;
  text-decoration: none;
  background: orange;
  margin-right: .5em;
  padding: .25em .5em;
  border-top: .125em solid #444;
}
.main_nav_list_item a:hover {
  border-top: .125em solid orange;
  background: #444;
}

.scoreboard {
  margin-bottom: 2em;
  width: 100%;
  font-size: 1.154em; /* = 15px */
}
.scoreboard th,
.scoreboard td {
  padding: .5em;
}
.scoreboard_header_t1 {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.scoreboard_header_t3 {
  border-right: none;
}
.scoreboard_header_name {
  width: 8em;
}
.scoreboard_header_score {
  width: 3em;
}
.scoreboard_score {
  text-align: center;
}
.even {
  background: #eee;
}
.scoreboard_achievement_t1 {
  border-left: 1px solid #aaa;
}

.scoreboard_achievement_t0 {
  text-align: center;
  background: url("/images/failed.png") no-repeat scroll center 5px transparent;
  text-indent: -999em;
}

.scoreboard_achievement_t2 {
}

.details {
  list-style:none;
  margin-left: 0;
  margin-bottom: 2em;
}
.details_item_t1 {
  font-size: 1.154em; /* = 15px */
  display: inline-block;
  padding-bottom: .5em;
}
.details_item_t2 {
  font-weight: bold;
  width: 5em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.field,
.actions {
  margin-bottom: 10px;
}
.field label {
  width: 8em;
  display: inline-block;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}