%article.main_content.clearfix
  %img.img_text_t1(src="/images/don.jpg")
  %p
    In the beginning, there was
    %a(href="http://donsbot.wordpress.com/")Don,
    and he was fearsomely productive: so much so that
    %a(href="http://shimweasel.com") Mark
    prevailed upon him to share his secrets. He did so as is documented
    %a(href="http://www.shimweasel.com/2011/05/08/the-stewart-method-how-not-to-suck") here,
    and it became known as the Stewart Method.
  
  %p As adherents of the Stewart method, we commit to delivering a project every week.
  %p It can be slow, it can be a prototype, it can have gaps in functionality, but it cannot be late.
  %p Go forth and be productive!
